<div class="card" style="visibility: visible; display: block;">

    <div class="card-header">
        <h4 class="item-names"><a class="itemLink" href="/api/item/{{id}}">{{name}}</a></h4>
    </div>

    <div class="item-attributes">
        <ul>
            <li>Material: {{material}}</li>
            <li>Color: {{color}}</li>
            <li>Price: ${{price}}</li>
            <li>Item_ID: {{id}}</li>
        </ul>

    </div>
</div>
