<div id="itemUL" class="card">

    <div class="card-header">
        <h4 class="item-names">{{name}}</h4>
        <button id="deleteButton" class="deleteBtn">X</button>
    </div>

    <div class="item-attributes">
        <ul>
            <li>Material: <a href="#">{{material}}</a></li>
            <li>Color: <a href="#">{{color}}</a></li>
            <li>Price: <a href="#">${{price}}</a></li>
            <li>Item_ID: <a href="#">{{id}}</a></li>
        </ul>

    </div>
</div>